.welcome {
    background-image: url('../../images/welcome.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 86vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: rgb(98, 137, 221);

    .title {
        font-size: 3.5em;
        letter-spacing: 5px;
    }
}
