@import '../variables.scss';

.main-container {
    background-color: $main-container;
    width: 100vw;

    .container {
        padding-left: 0.35rem;

        background-color: $container;

        @media (min-width: 768px) {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 10px 20px;
        }
    }
}
