.main-container {
    background-color: rgb(41, 40, 40);

    .container {
        width: 100%;
        background-color: rgb(53, 51, 51);
        @media (min-width: 768px) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}
