.navbar {
    height: 10vh;
    background: linear-gradient(
        90deg,
        #6f7173 0%,
        #313536 35%,
        rgb(21, 22, 22) 100%
    );
}

.bg-dark {
    background-color: red;
}

.offcanvas {
    .nav {
        display: flex;
        justify-content: flex-end;
        gap: 0.8em;
        margin-bottom: 1rem;

        @media (min-width: 992px) {
            margin-bottom: 0;
        }

        .dropdown-item {
            &:hover {
                color: rgb(216, 175, 63);
            }
        }
    }

    .offcanvas-body {
        @media (min-width: 992px) {
            display: flex;
            justify-content: flex-end;
            gap: 1.5rem;
            font-size: 1.2em;
        }
    }

    .d-flex {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .sportTitle {
        text-align: center;
        background-color: rgba(224, 223, 223, 0.6);
    }
}
