@import '../../../variables.scss';

.secondSection {
    display: flex;
    flex-direction: column;
    order: 1;
    background-color: $main-container;
    color: white;
    border-radius: 0.25rem;

    @media (min-width: 768px) {
        order: 2;
        width: 30%;
    }

    .sectionDivs {
        margin: 0.9rem 0;
        width: 100%;

        .ad {
            width: 90%;
            margin-bottom: 1.5rem;
            background-color: white;
        }
    }
}
