@import '../../../variables.scss';

.secondSection {
    display: flex;
    flex-direction: column;
    order: 1;
    background-color: $main-container;
    color: white;

    @media (min-width: 768px) {
        order: 2;
        width: 30%;
    }

    .sectionDivs {
        border: 1px solid white;
    }
}
