.mainCard {
    margin: 2rem 0;
    min-height: 30vh;

    @media (min-width: 768px) {
        display: flex;
        height: 100%;
    }

    .card-header {
        font-weight: 700;
        font-size: 1.4em;
    }

    .startCard {
        background-color: rgb(29, 27, 27);
        border-radius: 0.25rem 0.25rem 0 0;
        box-shadow: 0rem 0rem 2rem 0.25rem rgb(29, 27, 27);

        @media (min-width: 768px) {
            box-shadow: 1rem 0rem 2rem 0.25rem rgb(29, 27, 27);
            border-radius: 0.25rem;
        }
    }

    .card-body {
        display: flex;
        align-items: center;
    }
}
