.footer {
    background-color: rgb(21, 22, 22);
    color: rgb(212, 202, 202);
    height: 3em;
    position: relative;
    font-size: 0.8em;
    font-style: italic;
    display: flex;
    justify-content: center;
    align-items: center;
}
