.carousel-container {
    @media (min-width: 768px) {
        width: 100%;
    }

    .carouselItem {
        position: relative;
        height: 25vh;

        @media (min-width: 768px) {
            height: 35vh;
        }

        @media (min-width: 1024px) {
            height: 45vh;
        }

        .picture {
            height: 100%;
            width: 100%;
            padding: 5px;
        }

        .carousel-caption {
            bottom: 0;
            padding-bottom: 1rem;

            .title {
                padding: 0 10px;
                display: inline-block;
                background-color: rgba(63, 60, 60, 0.4);
                font-size: 0.9em;
                color: rgb(247, 238, 238);
            }
        }
    }

    .carousel-indicators {
        margin-bottom: 0.1rem;
    }
    .carousel-indicators [data-bs-target] {
        background-color: rgb(91, 91, 138);
        height: 4px;
    }
}
