.cards {
    display: flex;
    flex-direction: column;
    margin: 0.3rem 0;
    width: 90%;

    .card {
        align-items: center;

        @media (min-width: 768px) {
            display: flex;
            flex-direction: row;
        }

        .picture {
            width: 50%;
            margin-top: 1rem;
            padding: 10px;

            @media (min-width: 768px) {
                margin: 0;
                height: 20vh;
                width: 18vw;
            }

            @media (min-width: 1200px) {
                padding: 0.5rem 2.7rem;
            }
        }
    }
}
